/* colourSection */
.aes-section-01,.type-section-01,.con-section-01 {background-color: #ADA77B;}
.co-section-01,.ico-section-01 {background-color: #c1bb9c;}
.aes-section-02,.type-section-02,.con-section-02 {background-color: #1b769e;}
.co-section-02,.ico-section-02 {background-color: #4992b1;}
.aes-section-03,.type-section-03,.con-section-03 {background-color: #962A47;}
.co-section-03,.ico-section-03 {background-color: #ac3051;}
.aes-section-04,.type-section-04,.con-section-04 {background-color: #7e7e7e;}
.co-section-04,.ico-section-04 {background-color: #999;}
.case-flow-section,.case-flow-3-section,.case-concept-1-section {background-color: #363636;}
/* endof colourSection */

.embed {overflow: inherit; margin-bottom: 3em;}
.embed-item, .embed__item { min-height: 100%; left: 50%; transform: translateX(-50%); position: absolute; top: 0; width: 175%; }
.img-flex { width: 185%; transform: translateX(-25%);}
.ideation, .system, .colour, .typography, .iconography, .usability-1, .usability-2, .usability-3, .usability-4 {opacity: 1;}
.img-flex-1-2 {width: 50%;}
.img-flex-3-4 {width: 75%;}
.title-box em { letter-spacing: -1px;}

@media only screen and (min-width: 24em) {

  .embed-item, .embed__item { min-height: 100%; position: absolute; top: 0; width: 135%; }
  .img-flex {display: block; width: 100%;  transform: translateX(0)}
}

@media only screen and (min-width: 38em) {
  .ideation, .system, .colour, .typography, .iconography, .usability-1, .usability-2, .usability-3, .usability-4 {opacity: 1; transition: all 500ms linear; -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; transform: translateY(60px);}
  .js-allow-work-animation { opacity: 0;}
  .js-work-animate {opacity: 1; transform: translateY(0);}
  .embed {overflow: hidden;}
  .embed-item, .embed__item { min-height: 100%; left: 0; transform: translateX(0); position: absolute; top: 0; width: 100%; }
}
