/* caseContainer */
.case-container {
  height: 40vh;
  transition: all 6s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  overflow: hidden;
  filter: grayscale(90%);
}

.case-container:hover {
  overflow: hidden;
  z-index: 4;
  filter: grayscale(0);
}

.intro-case {
  transition: all 500ms linear;
  color: #fafafa;
  text-shadow: 1px 1px 6px #000;
  font-size: 2.75rem;
  opacity: 1;
}


/* end caseContainer  */


.bg-solid-case-1 {
  background-color: #ADA77B;
}

.bg-img-case-1 {
  background-image: linear-gradient(rgba(216, 211, 173, .6),rgba(216, 211, 173, .6)), url('../images/assignment.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-solid-case-2 {
  background-color: #1B769E;
}

.bg-img-case-2 {
  transition: all 2s linear;
  background-image: linear-gradient(rgba(27, 118, 158, .6), rgba(27, 118, 158, .6)), url('../images/making-thru.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

.bg-solid-case-3 {
  background-color: #DA3363;
}

.bg-img-case-3 {
  background-image: linear-gradient(rgba(218, 51, 99, .6), rgba(218, 51, 99, .6)), url('../images/violinin-1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-solid-case-4 {
  background-color: #d8d8d8;
}

.bg-img-case-4 {
  background-image: linear-gradient(rgba(142, 142, 142, .8), rgba(142, 142, 142, .8)), url('../images/slide.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-img-case-1,
.bg-img-case-2,
.bg-img-case-3,
.bg-img-case-4 {
  height: 40vh;
}

.case-display-container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.case-display-img {
  width: 100%;
}

.case-landscape-img {
  width: 110%;
}

.img-case-display {
  width: 100%;
}

.img-case-phone{
  max-width: 60%;
}


/* media queries */

@media only screen and (min-width: 38em) {

  .case-1 {
    height: 70vh;
  }

  .bg-img-case-1,
  .bg-img-case-2,
  .bg-img-case-3,
  .bg-img-case-4 {
    height: 70vh;
  }

  .bg-solid-case-1,
  .bg-solid-case-2,
  .bg-solid-case-3,
  .bg-solid-case-4 {
    height: 70vh;
  }

  .case-container {
    height: 50vh;
  }

  .intro-case {
    transition: all 500ms linear;
    color: #fafafa;
  }

  .case-container .intro-case {
    opacity: 0;
  }

  .case-container:hover .intro-case,
  .case-container:focus .intro-case {
    font-size: 2.75rem;
    opacity: 1;
  }

  .case-display-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .case-display-img {
    width: 80%;
  }

  .img-case-display {
    max-width: 70%;
  }

  .img-case-phone{
    max-width: 30%;
  }

}

@media only screen and (min-width: 60em) {

  .case-display-img {
    width: 60%;
  }

  .img-case-display {
    width: 90%;
  }
  .social-media {
    text-align: right;
  }

  .case-container:hover .intro-case,
  .case-container:focus .intro-case {
    font-size: 4rem;
  }

}

@media only screen and (min-width: 90em) {
  .case-container:hover .intro-case,
  .case-container:focus .intro-case {
    font-size: 6.5rem;
  }
}
