---
layout: default
title: Work
meta: Connect and Collaborate with local UX-UI and web designer
lang: en
page: work
dateCreated: 2018-11-23
keyWords: creative work, ottawa, trendy, beautiful layout, design, foreign, edgy work, current, visual, app design, colourful, connect, collaborate
---

  <main class="" role="main" id="main" tabindex="0">

  {% include
    header-section.html
    word1="Iteration"
    word2="Prototype"
    word3="Repeat"
    paragraph="The art of design is everywhere—anyone can design, but not many get to explain the concept of their design. Good, functional design is where aesthetics and usability cross paths"
     %}

      <div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] text-center pad-t-2 pad-b-2">
        <a id="arrow" href="#case-section"></a>
      </div>

  <section class="" id="case-section">
    {% for case in site.case-study %}
      {% assign evenOrOdd = forloop.index|modulo:2 %}
      {% include case-selection-section.html case=case evenOrOdd=evenOrOdd %}
    {% endfor %}
  </section>

</main>
