<div class="case-container">
  <a href="{{site.baseurl}}{{include.case.url}}">
    <div class="{{include.case.title}}">
      <div>
        <h3 class="absolute pin-c zindex-3 tenamega not-bold black intro-case w-1 text-center">{{include.case.title}}</h3>
        <div class="grid">
          {% if include.evenOrOdd == 0 %}
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.imgBg}}"><!--background colour--></div>
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.solidBg}}"><!--solid colour--></div>
          {% else %}
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.solidBg}}"><!--solid colour--></div>
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.imgBg}}"><!--background colour--></div>

          {% endif %}
        </div>
      </div>
    </div>
    <div class="absolute pin-bc text-center case-display-container">
      <img class="{% if include.case.type == 'landscape' %} case-landscape-img {% else %}case-display-img{% endif %}" src="{{site.baseurl}}/images/{{include.case.image}}" alt="">
    </div>
  </a>
</div>
