<div class="case-container">
  <a href="{{include.case.url}}">
    <div class="{{include.case.title}}">
      <div class="relative">
        <h3 class="absolute pin-c zindex-3 tenamega black intro-case">{{include.case.title}}</h3>
        <div class="grid">
          {% if include.evenOrOdd == 0 %}
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.imgBg}}"><!--background colour--></div>
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.solidBg}}"><!--solid colour--></div>
          {% else %}
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.solidBg}}"><!--solid colour--></div>
          <div class="unit [ xs-1 s-1 m-1-2 l-1-2 xl-1-2 ] {{include.case.imgBg}}"><!--background colour--></div>

          {% endif %}
        </div>
        <div class="absolute text-center case-display-container">
          <img class="case-display-img" src="{{site.baseurl}}/images/{{include.case.image}}" alt="">
        </div>
      </div>
    </div>
  </a>
</div>
