<section class="about-section island-2">
  <div class="grid">
    <div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ]">
      <h2 class="title-box">
        <em class="indent-grid not-bold block pink">{{include.word1}}<span class="white">.</span></em>
        <em class="block not-bold ">{{include.word2}}<span class="pink">.</span></em>
        <em class="indent-grid not-bold block pink">{{include.word3}}<span class="white">.</span></em>
        {% if include.word4 %}
        <em class="block not-bold">{{include.word4}}<span class="pink">.</span></em>
        {% endif %}
      </h2>
    </div>
    <div class="unit [ unit-hidden-xs-1 s-1-3 m-1-3 l-1-2 xl-1-2 ] pad-t-2"><!-- empty unit for grid --></div>
    <div class="unit [ xs-1 s-2-3 m-2-3 l-1-2 xl-1-2 ] pad-t max-width">
      <p class="push-1-2">{{include.paragraph}}</p>
      {% if include.paragraph2 %}
      <p class="push-1-2">{{include.paragraph2}}</p>
      {% endif %}
      {% if include.paragraph3 %}
      <p class="push-0">{{include.paragraph3}}</p>
      {% endif %}
      {% if include.alink %}
        <a class="link-box mail-to" href="mailto:@hello@raquelaves.ca">hello@raquelalves.ca</a>
      {% endif %}
    </div>
  </div>

</section>
