---
layout: default
meta: El arte del diseño está por todos lados—cualquiera puede diseñar, pero no muchos pueden explicar el concepto de su diseño. El diseño bueno y funcional es en dónde se encuentran la estética y la usabilidad.
lang: es
page: work
dateCreated: 2018-11-23
keyWords: diseño creativo, ottawa, curiente, layout elaborado, diseño, extranjero, trabajo visual, diseño de aplicaciones, diseño web, colorido
---

  <main class="" role="main" id="main" tabindex="0">

  {% include
    header-section.html
    word1="Iteración"
    word2="Prototipar"
    word3="Repetir"
    paragraph="El arte del diseño está por todos lados—cualquiera puede diseñar, pero no muchos pueden explicar el concepto de su diseño. El diseño bueno y funcional es en dónde se encuentran la estética y la usabilidad."
     %}

      <div class="unit [ xs-1 s-1 m-1 l-1 xl-1 ] text-center pad-t-2 pad-b-2">
        <a id="arrow" href="#case-section"></a>
      </div>

  <section class="" id="case-section">
    {% for case in site.case-study_es %}
      {% assign evenOrOdd = forloop.index|modulo:2 %}
      {% include case-selection-section.html case=case evenOrOdd=evenOrOdd %}
    {% endfor %}
  </section>

</main>
