<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
  <meta charset="utf-8">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <title>{% if page.title %}{{ page.title }} · {% endif %} Design.Code.Repeat. · Ottawa, Ontario</title>
  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% endif %}">
</head>
<body>

  {% include header.html %}

  {{content}}

  {% include footer.html %}


  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "name": "{{page.title}}",
      "author": {
        "@type": "Person",
        "name": "Raquel Alves A.F"
      },
      "image": "https://raquelalves.ca{{site.baseurl}}/images/{{page.image}}",
      "url": "https://raquelalves.ca{{page.url}}",
      "dateCreated": "{{page.dateCreated}}",
      "description": "{% if page.caseIntro %}{{page.caseIntro}}{% else %} {{page.meta}} {% endif %}",
      "keywords": "{{page.keyWords}}"
    }
  </script>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{{site.baseurl}}/js/jquery.waypoints.min.js"></script>
  <script src="{{site.baseurl}}/js/waypoints.js"></script>

</body>
</html>
