<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <title>{% if page.title %}{{ page.title }} · {% endif %} Raquel Alves</title>
  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% endif %}">
</head>
<body>

  {% include header.html %}

  {{content}}

  {% include footer.html %}

</body>
</html>
